
div#image_and_canvas_wrapper {
}

div#controls_wrapper {
  position: relative;
}
div#canvas_div {
  position: absolute;
  left: 150px;
  top: 150px;
  width:1600px;
  height:auto;
}

canvas {
  background-color: transparent;
  width:100%;
  height:100%;
}

div#base_image_div {
  position: absolute;
  left: 150px;
  top: 150px;
}

img#base_image_id {
  padding: 0;
  margin: 0;
  max-width:100%;
  max-height: 100%;
}

div#bottom_controls_div {
  margin: 5px;

}

div#frame_frameset_header {
  display: flex;
}
video {
  width: 100%;
}

div.frameCard img {
  max-width: 100%;
  max-height: 100%;
}

div#movieparser_status {
  border: solid 1px #ccc;
}

div.frameset_hash {
font-size: .8rem;
}

div.marquee_div {
  background:
    linear-gradient(90deg, blue 50%, transparent 50%),
    linear-gradient(0deg, blue 50%, transparent 50%),
    linear-gradient(90deg, blue 50%, transparent 50%),
    linear-gradient(0deg, blue 50%, transparent 50%);
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-size: 15px 4px, 4px 15px, 15px 4px, 4px 15px;
  background-position: left top, right top, left bottom, left top;
  padding: 4px;
  animation: border-dance 4s infinite linear;
}
@keyframes border-dance
{
  0%
  {
    background-position: left top, right top, right bottom, left bottom;
  }
  100%
  {
    background-position: right top, right bottom, left bottom, left top;
  }
}

