
div#image_and_canvas_wrapper {
}

div#controls_wrapper {
  position: relative;
}

div#advanced_controls_wrapper {
  position: absolute;
  left: 1800px;
  top: 150px;
}

div#canvas_div {
  position: absolute;
  left: 150px;
  top: 150px;
  width:1600px;
  height:auto;
}

canvas {
  background-color: transparent;
  width:100%;
  height:100%;
}

div#base_image_div {
  position: absolute;
  left: 150px;
  top: 150px;
}

img#base_image_id {
  padding: 0;
  margin: 0;
  max-width:100%;
  max-height: 100%;
}

div#bottom_controls_div {
  margin: 5px;

}

div#frame_frameset_header {
  display: flex;
}
video {
  width: 100%;
}

div.frameCard img {
  max-width: 100%;
  max-height: 100%;
}

div#movieparser_status {
  border: solid 1px #ccc;
}

div.frameset_hash {
  font-size: .8rem;
}

div#image-zoom-modal {
  position: absolute;
  z-index: 10;
}

img#insights_image {
  padding: 0;
  margin: 0;
  max-width:100%;
  max-height: 100%;
}

input#movie_scrubber {
  width: 100%;
}

div#insights_image_div {
  position: absolute; 
}

div#canvas_div_insights {
  position: absolute; 
  width:680px;
  height:auto;
}

div#insights_middle {
  position: relative;
}

div#insights_scrubber_div {
  position: absolute;
  top: 430px;
  width: 100%;
}

div#bottom_insights_controls {
  position: absolute;
  top: 500px;
  width: 100%;
}
