div#redact_application_wrapper {
  margin-top: -15px;
  text-align: left;
}

a.nav-link:focus {
  font-weight: bolder;
  text-decoration: underline;
}
div#image_and_next_prev_buttons {
position:relative;
}
div#canvas_div {
  position: absolute;
}

div#image_redactor_panel {
position:relative;
}
canvas {
  background-color: transparent;
  width:100%;
  height:100%;
}

div#base_image_div {
  position: absolute;
}

img#base_image_id {
  padding: 0;
  margin: 0;
  max-width:100%;
  max-height: 100%;
}

div#frame_frameset_header {
  display: flex;
}

video {
  width: 100%;
}

div.frameCard img {
  max-width: 100%;
  max-height: 100%;
}

div.frameset_hash {
  font-size: .8rem;
}

div#moviePanelModalInner img#movie_zoom_image {
  max-width: 100%;
  max-height: 100%;
}

div#insightsPanelModalInner img#insights_modal_image {
  max-width: 100%;
  max-height: 100%;
}

div#insightsPanelModalInner  {
  max-width: 90%;
  max-height:90%;
}

img#insights_image {
  padding: 0;
  margin: 0;
  max-width:50%;
  max-height: 100%;
}

input#movie_scrubber {
  width: 100%;
}

div#insights_image_div {
  position: absolute; 
}

div#canvas_div_insights {
  position: absolute; 
}

div#insights_middle {
  position: relative;
}

div#insights_scrubber_div {
  position: absolute;
  width: 100%;
}

input#compose_scrubber {
  width: 100%;
}
div#compose_scrubber_div {
  width: 100%;
}

div#bottom_insights_controls {
  position: absolute;
  width: 100%;
}

div#bottom_image_controls {
  position: absolute;
  width: 100%;
}

img#insights_image {
  padding: 0;
  margin: 0;
  max-width:100%;
  max-height: 100%;
}

div.active_card {
  border: 5px solid red;
}

div#prev_button_col, div#next_button_col{
padding-top:200px;
}

input.nickname {
  font-size: 12px;
}

a#help_link {
color: #AAA;
}
