div#ip_and_canvas {
  position: relative;
}

div#canvas_div {
  position: absolute;
}

div#compose_panel_container {
  width: 100%;
}

div#redact_application_wrapper {
  margin-top: -15px;
  text-align: left;
}

a.nav-link:focus {
  font-weight: bolder;
  text-decoration: underline;
}
div#image_and_next_prev_buttons {
  position:relative;
}
div#image_redactor_panel {
position:relative;
}
canvas {
  background-color: transparent;
  width:100%;
  height:100%;
}

img#base_image_id {
  padding: 0;
  margin: 0;
  max-width:100%;
  max-height: 100%;
}

div#frame_frameset_header {
  display: flex;
}

video {
  width: 100%;
}

div.frameCard img {
  max-width: 100%;
  max-height: 100%;
}

div.frameset_hash {
  font-size: .8rem;
}

div#moviePanelModalInner img#movie_zoom_image {
  max-width: 100%;
  max-height: 100%;
}

div#insightsPanelModalInner img#insights_modal_image {
  max-width: 100%;
  max-height: 100%;
}

div#insightsPanelModalInner  {
  max-width: 90%;
  max-height:90%;
}

img#insights_image {
  padding: 0;
  margin: 0;
  max-width:50%;
  max-height: 100%;
}

input#movie_scrubber {
  width: 100%;
}

div#insights_image_div {
  position: absolute; 
}

div#canvas_div_insights {
  position: absolute; 
}

div#insights_middle {
  position: relative;
}

div#insights_scrubber_div {
  position: absolute;
  width: 100%;
}

input#compose_scrubber {
  width: 100%;
}
div#compose_scrubber_div {
  width: 100%;
}

div#bottom_insights_controls {
  position: absolute;
  width: 100%;
}

img#insights_image {
  padding: 0;
  margin: 0;
  max-width:100%;
  max-height: 100%;
}

div.active_card {
  background-color: #FFDDDD;
}

div.green_card {
  border: 9px dashed green;
}

div#prev_button_col, div#next_button_col{
padding-top:200px;
}

input.nickname {
  font-size: 12px;
}

a#help_link {
color: #AAA;
}


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.progress {
  width: 40px;
  height: 40px;
  background: none;
  position: relative;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

