amqp
appdirs
azure-core
azure-storage-blob
billiard
celery
certifi
cffi
chardet
cryptography
cycler
decorator
Django==2.2.24
django-cors-headers
django-extensions
djangorestframework
dlib
eventlet
faker
ffmpeg-python
future
fuzzywuzzy
h5py
idna
imagecodecs
imageio
importlib-metadata
imutils
isodate
joblib
kiwisolver
kombu
matplotlib
more-itertools
msrest
mysqlclient
networkx
numpy
oauthlib
opencv-python
packaging
Pillow
pooch
pycparser
pyenchant
pyparsing
pytesseract
python-dateutil
python-Levenshtein
pytz
PyWavelets
redis
requests
requests-oauthlib
scikit-image
scikit-learn
scipy
simplejson
six
sklearn
sqlparse
tifffile
urllib3
vine
zipp
