amqp
appdirs
asgiref
attrs
autobahn
Automat
azure-core
azure-storage-blob
billiard
cached-property
celery
certifi
cffi
channels
chardet
click
click-didyoumean
click-plugins
click-repl
constantly
cryptography
cycler
daphne
decorator
Django
django-cors-headers
django-extensions
djangorestframework
dlib
dnspython
eventlet
Faker
ffmpeg-python
future
fuzzywuzzy
gevent
greenlet
h5py
hyperlink
idna
imagecodecs
imageio
importlib-metadata
imutils
incremental
iso8601
isodate
joblib
kiwisolver
kombu
matplotlib
more-itertools
msrest
mysqlclient
networkx
numpy
oauthlib
opencv-python
packaging
Pillow
pooch
prompt-toolkit
pyasn1
pyasn1-modules
pycparser
pyenchant
pyodbc
pyOpenSSL
-e git+https://github.com/pscottdevos/pyparse_datetime.git@bbaa1351e755a844ea50f75412eaae12040ae561#egg=PyParseDateTime
pyparsing
pytesseract
python-dateutil
python-Levenshtein
pytz
PyWavelets
redis
requests
requests-oauthlib
scikit-image
scikit-learn
scipy
service-identity
simplejson
six
sklearn
sqlparse
text-unidecode
threadpoolctl
tifffile
Twisted
txaio
typing-extensions
urllib3
vine
wcwidth
zipp
zope.event
zope.interface
